html { font-family: 'Inter UI', sans-serif; }

header {
	background: transparent;
	text-align: center;
	position: fixed;
	width: 100%;
	transition: .4s ease background;
	z-index: 99;
}

header.scrolled {
	background: #27A3B3;
}

.menu-toggle {
	display: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	color: #27A3B3;
	display: block;
	padding: 20px;
	transition: .15s ease color;
}

header.scrolled nav li a {
	color: #fff;
}

nav li a:hover {

}

.wrapper {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

h1 {
	color: #EB7C23;
	font-weight: 800;
	font-size: 65px;
}

h1:nth-child(2) {
	color: #27A3B3;
	font-weight: 300;
	font-size: 30px;
}

h2 {
	font-weight: 800;
	font-size: 50px;
	color: #27A3B3;
	text-align: center;
	margin-bottom: 50px;
}

.hero {
	text-align: center;
	background-color: #e5e6e8;
	background-image: url('images/hero-background.png');
	background-size: 480px;
	padding: 165px 0 150px 0;
}

.hero .logo {
	display: block;
	width: calc(100% - 80px);
	max-width: 416px;
	margin: 0 auto 50px;
}

.hero p {
	margin: 30px auto 45px;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	display: block;
	font-weight: 700;
	color: #27A3B3;
}

.button {
	text-decoration: none;
	color: #27A3B3;
	font-size: 15px;
	font-weight: 700;
	border: 2px solid #27A3B3;
	text-transform: uppercase;
	padding: 20px;
	display: inline-block;
	transition: .15s color ease, .15s background ease;
	margin: 0 10px;
	text-align: center;
	min-width: 150px;

    letter-spacing: .7px;
    text-align: center;
    min-width: 150px;
}

.button.emphasis {
	color: #EB7C23;
	background: #EB7C23;
	color: #fff;
	border-color: #EB7C23;
}

.button:hover {
	color: #fff;
	background: #27A3B3;
}

.button.emphasis:hover {
	background: #d6701e;
	border-color: #d6701e;
}

#about {
	padding: 100px 0;
}

#about .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#about .wrapper .image {
	flex: 0 0 320px;
	margin-right: 80px;
}

#about .wrapper .copy h2 {
	text-align: left;
}

table {
	text-align: left;
	color: #114B5F;
	font-size: 18px;
	margin: 50px auto 0;
}

th {
	font-weight: 800;
	padding: 10px 20px;
}

td {
	padding: 10px 20px;
}

tr {
	background: #e8e8e8;
}

tr:nth-child(2n) {
	background: transparent;
}

p {
	color: #114B5F;
	line-height: 1.7;
	font-size: 18px;
	margin: 0 auto 20px;
	max-width: 800px
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #114B5F;
}

img {
	max-width: 100%;
}

#schedule {
	background: #F7F8FA;
	padding: 100px 0;
}

#schedule p {
	text-align: center;
}

#course {
	padding: 100px 0;
}

#course p {
	text-align: center;
}

#location {
	padding: 100px 0;
}

#location p {
	text-align: center;
}

#register {
	background: #F7F8FA;
	padding: 100px 0;
}

#register p {
	text-align: center;
}

#register .button-wrap {
	text-align: center;
	margin-bottom: 30px;
}

#partners {
	padding: 100px 0;
	text-align: center;
}

#partners p {
	margin-bottom: 50px;
}

#volunteer {
	padding: 100px 0;
	background: #F7F8FA;
}

#volunteer p {
	text-align: center;
}

#volunteer .button-wrap {
	text-align: center;
}

.partner-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 70px 0 40px;
}

.partner-list::after {
  content: "";
  flex: 0 0 calc(50% - 30px);
}

.partner-list .partner {
	flex: 0 0 calc(33% - 40px);
	margin-bottom: 50px;
	display: flex;
	justify-content: center; 
	align-items: center;
	padding: 0 20px;
}

.partner-list .partner img {
	max-height: 115px;
}

.partner-list .partner.title {
	width: calc(50% - 50px);
}

footer {
	text-align: center;
	padding: 10px 0;
	background: #114B5F;
	color: #fff;
	font-size: 15px;
}

footer p {
	color: #fff;
}

footer a {
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width: 800px) {
	.partner-list .partner {
		width: calc(50% - 50px);
		margin-bottom: 60px;
	}
	.partner-list .partner.title {
		width: 100%;	
	}
	.partner-list .partner.link {
		width: 100%;	
	}

	#about .wrapper {
		display: block;
	}
	#about .wrapper .image {
		max-width: 300px;
		margin: 0 auto 40px;
		display: block;
	}

	#about .wrapper .copy h2 {
		text-align: center;
	}
}

@media only screen and (max-width: 677px) {
	.menu-toggle {
		display: block;
		color: #27A3B3;
		padding: 20px 0;
		font-weight: 800;
		cursor: pointer;
	}

	header.scrolled .menu-toggle {
		color: #fff;
	}

	nav {
		display: none;
		background: #27A3B3;
		width: 100%;
		padding: 7px 0;
	}

	nav li {
		display: block;
		width: 100%;
		font-size: 18px;
	}

	nav li a {
		color: #fff;
		width: 100%;
		display: block;
		padding: 12px 0px;
	}

	nav li a:hover {
		color: #fff;
	}

	.hero {
		padding: 100px 0 80px;
		background-size: 200px;
	}

	#about, #schedule, #course, #register, #volunteer {
		padding: 60px 0;
	}

	.hero .buttons {
		/*display: flex;*/
	}

	.hero .buttons .button {
		min-width: auto;
		flex: 0 0 50%;
	}

	.hero .buttons .button:first-child {
		margin-left: 0;
	}

	.hero .buttons .button:last-child {
		margin-right: 0;
	}

	#about .wrapper .image {
		max-width: 250px;
	}

	.partner-list .partner {
		flex: 0 0 calc(50% - 40px);
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 44px;
	}

	table {
		font-size: 12px;
	}

	th, td {
		padding: 7px 3px;
	}

	p {
		font-size: 16px;
	}
}

@media only screen and (max-width: 350px) {
	.hero .buttons .button {
		padding: 18px 14px;
	}
}